<a href="https://colab.research.google.com/github/KayKozaronek/03_Courses/blob/master/Pandas_and_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas and Covid-19

This notebook is an example of data analysis and manipulation with **Pandas**

In [0]:
import numpy as np
import pandas as pd

# The Data 
We can get some data by downloading it from the Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

First we remove the folder where I am goint to store the data so I can re-execute this code without any problems ...

In [0]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the git command to get it

In [3]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 25040 (delta 5), reused 10 (delta 5), pack-reused 25026
Receiving objects: 100% (25040/25040), 112.48 MiB | 31.55 MiB/s, done.
Resolving deltas: 100% (13924/13924), done.

In [4]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 14684
-rw-r--r-- 1 root root 334299 May  7 12:25 05-06-2020.csv
-rw-r--r-- 1 root root      0 May  7 12:25 README.md
-rw-r--r-- 1 root root 333430 May  7 12:25 05-05-2020.csv
-rw-r--r-- 1 root root 332566 May  7 12:25 05-04-2020.csv
-rw-r--r-- 1 root root 332148 May  7 12:25 05-03-2020.csv
-rw-r--r-- 1 root root 331503 May  7 12:25 05-02-2020.csv
-rw-r--r-- 1 root root 330931 May  7 12:25 05-01-2020.csv
-rw-r--r-- 1 root root 329749 May  7 12:25 04-30-2020.csv
-rw-r--r-- 1 root root 328733 May  7 12:25 04-29-2020.csv

Yes!!!
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [0]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [6]:
first.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
4          Gansu  Mainland China  1/22/2020 17:00        NaN     NaN        NaN

In [7]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-18-2020.csv")

last.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     15  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    103          Acadia, Louisiana, US
2  51001.0   Accomack  ...     33         Accomack, Virginia, US
3  16001.0        Ada  ...    584                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 12 columns]

Can I concatenate both datasets?

In [8]:
last.query("Country_Region == 'Spain'")

      FIPS Admin2 Province_State  ... Recovered Active  Combined_Key
3025   NaN    NaN            NaN  ...     74797  96886         Spain

[1 rows x 12 columns]

In [9]:
pd.concat((first,last), axis =0)

     Province/State  Country/Region  ... Active        Combined_Key
0             Anhui  Mainland China  ...    NaN                 NaN
1           Beijing  Mainland China  ...    NaN                 NaN
2         Chongqing  Mainland China  ...    NaN                 NaN
3            Fujian  Mainland China  ...    NaN                 NaN
4             Gansu  Mainland China  ...    NaN                 NaN
...             ...             ...  ...    ...                 ...
3048            NaN             NaN  ...  347.0  West Bank and Gaza
3049            NaN             NaN  ...    6.0      Western Sahara
3050            NaN             NaN  ...    1.0               Yemen
3051            NaN             NaN  ...   22.0              Zambia
3052            NaN             NaN  ...   20.0            Zimbabwe

[3091 rows x 15 columns]

Well, the column names don't match. 

Let's try something different

# Loading the data into Pandas and cleaning it

In [0]:
import glob 
import os 

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key = os.path.getmtime)