# Pandas Exercise 25

Read the data from the following **URL** into a dataframe.

https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/

In [0]:
import pandas as pd

Let's try and see whether we can use one of the build in functions that pandas gives us 

`pd.read_csv()`

In [2]:
df = pd.read_csv("https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/")

df.head()

KeyboardInterrupt: ignored

Apparently, it's not data in csv format, this dind't work.   

Let's see whether `pd.read_json()`works.

In [0]:
df = pd.read_json("https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/")

In [4]:
df.head()

                 Fecha  ... ResultadoConsulta
0  07/05/2020 18:41:21  ...               NaN
1  07/05/2020 18:41:21  ...               NaN
2  07/05/2020 18:41:21  ...               NaN
3  07/05/2020 18:41:21  ...               NaN
4  07/05/2020 18:41:21  ...               NaN

[5 rows x 4 columns]

This seems to have worked, but there is another way of doing it

To read the data of a web service we can try to use the request library

In [0]:
# Import all necessary libraries
import pandas as pd
import requests
import json 

# Save the URL to avariable and the save the information to a variable resp
url = "https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/"
resp = requests.get(url)

In [6]:
# Extract the data from the Json format and create a dataframe
data = resp.json()
df = pd.DataFrame(data) 

# Show the dataframe's head and shape
print(df.shape)
df.head()

(10355, 4)

                 Fecha  ... ResultadoConsulta
0  07/05/2020 18:41:40  ...              None
1  07/05/2020 18:41:40  ...              None
2  07/05/2020 18:41:40  ...              None
3  07/05/2020 18:41:40  ...              None
4  07/05/2020 18:41:40  ...              None

[5 rows x 4 columns]

## Let's explore the data a little 

It seems like "Nota" contains a note for us.

Let's reed it

In [7]:
df["Nota"][0]

'Archivo de todos los productos en todas las estaciones de servicio. La actualización de precios se realiza cada media hora, con los precios en vigor en ese momento.'

###*Here's a translation:* 

'Archive of all products in all service stations. Price updates are done every half hour, with prices in effect at that time. '

It seems as if our datatable contains 10356 dictionaries of Prices of gasstations.

Upon closer inspection we can see that "Fecha" gives us information on the date and time

In [8]:
df["Fecha"][0]

'07/05/2020 18:41:40'

ListaEESSPrecio contains a lot more information. in form of a dictionary.

In [9]:
df["ListaEESSPrecio"].head()

0    {'C.P.': '01240', 'Dirección': 'CALLE GASTEIZB...
1    {'C.P.': '01240', 'Dirección': 'CL MANISITU, 9...
2    {'C.P.': '01468', 'Dirección': 'POLIGONO ZANKU...
3    {'C.P.': '01450', 'Dirección': 'CARRETERA A-62...
4    {'C.P.': '01120', 'Dirección': 'CARRETERA A-13...
Name: ListaEESSPrecio, dtype: object

Let's take a closer look

In [10]:
df["ListaEESSPrecio"][0]

{'% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'C.P.': '01240',
 'Dirección': 'CALLE GASTEIZBIDEA, 59',
 'Horario': 'L-D: 07:00-20:00',
 'IDCCAA': '16',
 'IDEESS': '14209',
 'IDMunicipio': '1',
 'IDProvincia': '01',
 'Latitud': '42,842917',
 'Localidad': 'ALEGRIA-DULANTZI',
 'Longitud (WGS84)': '-2,519194',
 'Margen': 'D',
 'Municipio': 'Alegría-Dulantzi',
 'Precio Biodiesel': None,
 'Precio Bioetanol': None,
 'Precio Gas Natural Comprimido': None,
 'Precio Gas Natural Licuado': None,
 'Precio Gases licuados del petróleo': None,
 'Precio Gasoleo A': '1,069',
 'Precio Gasoleo B': None,
 'Precio Gasolina  98': None,
 'Precio Gasolina 95 Protección': '1,159',
 'Precio Nuevo Gasoleo A': None,
 'Provincia': 'ÁLAVA',
 'Remisión': 'dm',
 'Rótulo': 'ES DULANTZI REPSOL',
 'Tipo Venta': 'P'}

All data that we want seems to be in the "ListaEESSPrecio" Column.
 
Thus, for our purposes we can discard the rest

In [11]:
pd.DataFrame.from_dict(df["ListaEESSPrecio"])

                                         ListaEESSPrecio
0      {'C.P.': '01240', 'Dirección': 'CALLE GASTEIZB...
1      {'C.P.': '01240', 'Dirección': 'CL MANISITU, 9...
2      {'C.P.': '01468', 'Dirección': 'POLIGONO ZANKU...
3      {'C.P.': '01450', 'Dirección': 'CARRETERA A-62...
4      {'C.P.': '01120', 'Dirección': 'CARRETERA A-13...
...                                                  ...
10350  {'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...
10351  {'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...
10352  {'C.P.': '50800', 'Dirección': 'CARRETERA N-33...
10353  {'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...
10354  {'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...

[10355 rows x 1 columns]

Let's save the collumn names that we need into a variable called columns

In [0]:
columns=["C.P.","Dirección","Horario", "Latitud", "Localidad",
         "Longitud (WGS84)","Margen", "Municipio", "Precio Biodiesel",
         "Precio Bioetanol", "Precio Gas Natural Comprimido",
         "Precio Gas Natural Licuado", "Precio Gases licuados del petróleo",
         "Precio Gasoleo A", "Precio Gasoleo B", "Precio Gasolina 95 Protección",
         "Precio Nuevo Gasoleo A", "Provincia", "Remisión"]

Let's save the data from the ListaEESSPrecio dictionaries to a variable. 

Then we can create a DataFrame by handing it a list of all dictionaries, by creating a list comprehension 

At last we can look at the DataFrames head in order to see whether it worked.

In [13]:
data = df.ListaEESSPrecio

dict_data = pd.DataFrame([dic for dic in data])

print(dict_data.shape)
dict_data.head()

(10355, 28)

    C.P.                               Dirección  ... IDProvincia IDCCAA
0  01240                  CALLE GASTEIZBIDEA, 59  ...          01     16
1  01240                          CL MANISITU, 9  ...          01     16
2  01468                    POLIGONO ZANKUETA, 0  ...          01     16
3  01450                CARRETERA A-624 KM. 37,8  ...          01     16
4  01120  CARRETERA A-132 VITORIA-ESTELLA KM. 23  ...          01     16

[5 rows x 28 columns]

This seems to have worked. 

- The last thing we need is to discard the columns that we are not interested in.
- We can do this by saving the names of the columns that we are interested in, into a variable 
- Then we can simply use slicing to obtain a new dataframe

In [0]:
columns=["C.P.","Dirección","Horario", "Latitud", "Localidad",
         "Longitud (WGS84)","Margen", "Municipio", "Precio Biodiesel",
         "Precio Bioetanol", "Precio Gas Natural Comprimido",
         "Precio Gas Natural Licuado", "Precio Gases licuados del petróleo",
         "Precio Gasoleo A", "Precio Gasoleo B", "Precio Gasolina 95 Protección",
         "Precio Nuevo Gasoleo A", "Provincia", "Remisión"]

final_dataframe = dict_data[columns]

We can compare the size of our new dataframe to the old one to see whethere we reduced the amount of columns

In [15]:
print(final_dataframe.shape)
print(dict_data.shape)

(10355, 19)
(10355, 28)

It worked. 

Here's hour final product!

In [16]:
final_dataframe.head()

    C.P.                               Dirección  ... Provincia Remisión
0  01240                  CALLE GASTEIZBIDEA, 59  ...     ÁLAVA       dm
1  01240                          CL MANISITU, 9  ...     ÁLAVA       dm
2  01468                    POLIGONO ZANKUETA, 0  ...     ÁLAVA       dm
3  01450                CARRETERA A-624 KM. 37,8  ...     ÁLAVA       OM
4  01120  CARRETERA A-132 VITORIA-ESTELLA KM. 23  ...     ÁLAVA       dm

[5 rows x 19 columns]