<a href="https://colab.research.google.com/github/KayKozaronek/03_Courses/blob/master/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Programming 

Seperation of concerns

Organize code into chuncks

Seperate Data and Functions(Behaviour of data)

Operates on well defined data structures like lists and dictionaries instead of operating with classes

Same goal as with OOP, Make code:
- Clear + Understandable
- Easy to Extend
- Easy to Maintain
- Memory Efficient
- DRY (don't repeat yourself)

Only 1 Pillar:
- Pure Functions

## Pure Functions

**2 Rules:**
1. Given the same inputs it will always return the same output
2. A function should not produce any side effects

In [0]:
# Pure, passes both tests
def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return new_list

multiply_by2([1,2,3])

[2, 4, 6]

In [0]:
# Not Pure, doesn't pass 2. test
new_list = []

def multiply_by2(li):
  for item in li:
    new_list.append(item*2)
  return new_list

print(multiply_by2([1,2,3]))
print(new_list)

[2, 4, 6]
[2, 4, 6]

## The `map()` function

In [0]:
# map(action,data)

def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return new_list 

print(map(multiply_by2, [1,2,3]))

<map object at 0x7fca9d6eb550>

`map()`gives us a map object, to actually view it we have to turn it into a list

In [0]:
print(list(map(multiply_by2, [1,2,3])))

TypeError: ignored

We get the above error, because we have too much code. 

When using map, we don't need to create a new list. We simply act upon the given data

In [0]:
def multiply_by2(item):
  return item*2

print(list(map(multiply_by2, [1,2,3])))

[2, 4, 6]

The neat part about `map()`is, that it is pure. The iterable doesn't get changed

In [0]:
my_list = [1,2,3]

print(list(map(multiply_by2, my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

# `filter()`

This function receives a boolean value and decides whether or not it should display something

In [0]:
my_list = [1,2,3]
def check_odd(item):
  return item %2 != 0

print(list(filter(check_odd, my_list)))
print(my_list)

[1, 3]
[1, 2, 3]

# `zip()`
We need 2 lists, or 2 iterables that we zip together
The iterables can be (lists, tuples, dictionaries etc.)

The `zip() function` links together the matching items, i1 with i1, i2 with i2  etc. from the iterables

In [0]:
my_list = [1,2,3]
your_list = (10,20,30)
their_list = {5,4,3}

print(list(zip(my_list, your_list)))
print(my_list)
print(your_list)
print(list(zip(my_list, your_list, their_list)))

[(1, 10), (2, 20), (3, 30)]
[1, 2, 3]
(10, 20, 30)
[(1, 10, 3), (2, 20, 4), (3, 30, 5)]

# `reduce()`

Reduce doesn't come as a build in python function. In order to use reduce we need to import it like that 

`from functools import reduce`

reudce needs us to input a function and a sequence like follows `reduce(function, sequence, initial value)`

In [0]:
from functools import reduce

my_list = [1,2,3]
your_list = (10,20,30)
their_list = {5,4,3}

def accumulator(acc, item ):
  print(acc,item)
  return acc + item 

print(reduce(accumulator, my_list, 0 ))
print(reduce(accumulator, my_list, 10 ))

0 1
1 2
3 3
6
10 1
11 2
13 3
16

# Exercise

1. Capitalize all of the pet names and print the list
2. Zip the 2 lists into a list of tuples, but sort the numbers from lowest to highest.
3. Filter the scores that pass over 50%
4. Combine all of the numbers that are in a list on this file using reduce (my_numbers and scores). What is the total?

In [0]:
from functools import reduce

# ----- Exercise 1 -----
my_pets = ['sisi', 'bibi', 'titi', 'carla']
def cap(item):
  return item.capitalize()

def up(item):
  return item.upper()

print(list(map(cap, my_pets)))
print(list(map(up, my_pets)))

# ----- Exercise 2 -----
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]
my_numbers1 = my_numbers[::-1]

print(list(zip(my_strings, my_numbers1)))
print(list(zip(my_strings, sorted(my_numbers))))

# ----- Exercise 3 -----
scores = [73, 20, 65, 19, 76, 100, 88]

def over_50(item):
  return item > 50

print(list(filter(over_50, scores)))

# ----- Exercise 4 -----
def accumulator(acc, item):
  return acc + item 

print(reduce(accumulator, my_numbers, 0 )+ reduce(accumulator,scores,0))
print(reduce(accumulator, (my_numbers + scores)))

['Sisi', 'Bibi', 'Titi', 'Carla']
['SISI', 'BIBI', 'TITI', 'CARLA']
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
[73, 65, 76, 100, 88]
456
456

## Lambda Expressions
- Anonymous functions that you don't need more than once
- We don't need to give it a name

In general it's implementation looks like this `lambda param: action(param)`

The action is a manipulation of the data

In [1]:
my_list = [1,2,3]

def multiply_by2(item):
  return item*2


# We don't need multiply_by2, if we use a lambda function
print(list(map(multiply_by2, my_list)))
print(list(map(lambda item: item*2, my_list)))

[2, 4, 6]
[2, 4, 6]

We can make `only_odd()`obsoelete the same way

In [4]:
def only_odd(item):
  return item%2 !=0

print(list(filter(only_odd, my_list)))
print(list(filter(lambda item: item%2 !=0, my_list)))

[1, 3]
[1, 3]

The same way we use reduce with a lambda function and get rid of the accumulator

In [11]:
from functools import reduce 
def accumulator(acc, item):
  return acc + item

print(reduce(lambda acc, item: acc+item, my_list))
print(reduce(accumulator, my_list, 0 ))

6
6

## Exercise Lambda Expressions
1. Return a list with the squared values of my_list =[5,4,3]

2. Sort the following list by the second number in the tuple.
a = [(0,2),(4,3),(9,9),(10,-1)]

In [12]:
my_list=[5,4,3]

print(list(map(lambda x: x**2 , my_list)))

[25, 16, 9]

In [27]:
a = [(0,2),(4,3),(9,9),(10,-1)]
b = (2,1)

# 1. Solution
a.sort(key = lambda tup: tup[1])
print(a)

# 2. Solution
sorted_by_second = sorted(a, key=lambda tup: tup[1])
print(sorted_by_second)

[(10, -1), (0, 2), (4, 3), (9, 9)]
[(10, -1), (0, 2), (4, 3), (9, 9)]

## Comprehension 
Comprehensions are quite unique to python
It's a quick way to create a certain datatype without loopoing or appending. 

We have the following types of comprehensions:
  - list
  - set 
  - dictionary

An exemplary list comprehesion would look like this:

`[param for param in iterable]`

If we were to try and run a comprehension on a tuple, we would get a generator expression.

### List comprehensions

In [0]:
# Conventional approach
my_list = []

for char in "hello":
  my_list.append(char)

print(my_list)

['h', 'e', 'l', 'l', 'o']

In [31]:
# List comprehension 
my_list = [char for char in "hello"]

print(my_list)

['h', 'e', 'l', 'l', 'o']

This saves us a ton of code and is a lot cleaner

In [33]:
# Another Example: all numbers from 0 to 99
my_list2 = [num for num in range(0,100)]
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [35]:
# What if I wanted a list where the numbers are multiplied by 2?
my_list3=[num*2 for num in range(0,100)]
print(my_list3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [38]:
# Only keep the even numbers
my_list4 = [num for num in range(0,100) if num%2 == 0]
print(my_list4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### Set Comprehensions
- We can use the same notation as with lists.
- By simply changing the edgy brackets `[]` for curly brackets `{}`

In [39]:
my_set = {char for char in "hello"}
my_set2 = {num for num in range(0,100)}
my_set3 = {num**2 for num in range(0,100)}
my_set4 = {num**2 for num in range(0,100) if num%2 ==0}

print(my_set)
print(my_set2)
print(my_set3)
print(my_set4)

{'h', 'o', 'l', 'e'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 1024, 4096, 4, 9216, 9, 16, 529, 3600, 4624, 25, 36, 2601, 49, 7225, 3136, 64, 576, 1089, 6724, 1600, 2116, 5184, 7744, 9801, 81, 8281, 6241, 100, 625, 121, 4225, 1156, 8836, 3721, 144, 1681, 2704, 5776, 4761, 2209, 676, 169, 3249, 9409, 196, 1225, 5329, 729, 225, 1764, 7396, 6889, 7921, 2809, 256, 2304, 6400, 3844, 4356, 784, 1296, 8464, 289, 3364, 4900, 5929, 1849, 9025, 324, 841, 1369, 2401, 2916, 5476, 361, 3969, 900, 9604, 4489, 400, 1936, 7056, 7569, 3481, 6561, 1444, 8100, 5041, 441, 961, 2500, 6084, 8649, 3025, 484, 2025, 1521, 5625}
{0, 256, 1024, 2304, 4, 900, 1156, 3844, 4096, 4356, 8836, 9604, 16, 144, 400, 784, 1296, 1936, 2704, 3600, 4624, 5776, 9216, 36, 676, 1444, 3364, 4900, 8100, 7056, 7744, 64, 576, 1600, 3136, 196, 324, 2116, 2500, 5184, 6084, 6400, 6724, 8464, 100, 484, 1764, 2916, 5476, 7396}

### Dictionary comprehension

In [50]:
simple_dict = {
    "a":1,
    "b":2
}

my_dict = {key: value**2 for key, value in simple_dict.items() if value %2 == 0 }

print(my_dict)

{'b': 4}

In [53]:
# Another example: Make a dictionary out of a list 
my_dict = {num : num*2 for num in [1,2,3]}
print(my_dict)

{1: 2, 2: 4, 3: 6}

## Exercise: Comprehensions 

Use a comprehension to replace the following code:

In [54]:
some_list = ["a", "b","c","b","d","m","n","n"]

duplicates = []
for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
      duplicates.append(value)

print(duplicates)

['b', 'n']

Create a list comprehension first and then remove the duplicate characters

In [78]:
duplicates = [value for value in {value for value in [value for value in some_list if some_list.count(value) > 1]}]

duplicates2 = list(set([value for value in some_list if some_list.count(value) > 1]))
print(duplicates)
print(duplicates2)

['b', 'n']
['b', 'n']

In [73]:
a = {1,2,3}
b ={2,3,4}
print(a|b)

{1, 2, 3, 4}