<a href="https://colab.research.google.com/github/KayKozaronek/03_Courses/blob/master/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functional Programming 

Seperation of concerns

Organize code into chuncks

Seperate Data and Functions(Behaviour of data)

Operates on well defined data structures like lists and dictionaries instead of operating with classes

Same goal as with OOP, Make code:
- Clear + Understandable
- Easy to Extend
- Easy to Maintain
- Memory Efficient
- DRY (don't repeat yourself)

Only 1 Pillar:
- Pure Functions

## Pure Functions

**2 Rules:**
1. Given the same inputs it will always return the same output
2. A function should not produce any side effects

In [1]:
# Pure, passes both tests
def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return new_list

multiply_by2([1,2,3])

[2, 4, 6]

In [2]:
# Not Pure, doesn't pass 2. test
new_list = []

def multiply_by2(li):
  for item in li:
    new_list.append(item*2)
  return new_list

print(multiply_by2([1,2,3]))
print(new_list)

[2, 4, 6]
[2, 4, 6]

## `map()`, `filter()`, `zip()`and `reduce()`

In [4]:
# map(action,data)

def multiply_by2(li):
  new_list = []
  for item in li:
    new_list.append(item*2)
  return new_list 

print(map(multiply_by2, [1,2,3]))

<map object at 0x7fca9d6eb550>

`map()`gives us a map object, to actually view it we have to turn it into a list

In [6]:
print(list(map(multiply_by2, [1,2,3])))

TypeError: ignored

We get the above error, because we have too much code. 

When using map, we don't need to create a new list. We simply act upon the given data

In [8]:
def multiply_by2(item):
  return item*2

print(list(map(multiply_by2, [1,2,3])))

[2, 4, 6]

The neat part about `map()`is, that it is pure. The iterable doesn't get changed

In [9]:
my_list = [1,2,3]

print(list(map(multiply_by2, my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

# `filter()`

This function receives a boolean value and decides whether or not it should display something

In [14]:
my_list = [1,2,3]
def check_odd(item):
  return item %2 != 0

print(list(filter(check_odd, my_list)))
print(my_list)

[1, 3]
[1, 2, 3]

# `zip()`
We need 2 lists, or 2 iterables that we zip together
The iterables can be (lists, tuples, dictionaries etc.)

The `zip() function` links together the matching items, i1 with i1, i2 with i2  etc. from the iterables

In [20]:
my_list = [1,2,3]
your_list = (10,20,30)
their_list = {5,4,3}

print(list(zip(my_list, your_list)))
print(my_list)
print(your_list)
print(list(zip(my_list, your_list, their_list)))

[(1, 10), (2, 20), (3, 30)]
[1, 2, 3]
(10, 20, 30)
[(1, 10, 3), (2, 20, 4), (3, 30, 5)]

# `reduce()`

Reduce doesn't come as a build in python function. In order to use reduce we need to import it like that 

`from functools import reduce`

reudce needs us to input a function and a sequence like follows `reduce(function, sequence, initial value)`

In [23]:
from functools import reduce

my_list = [1,2,3]
your_list = (10,20,30)
their_list = {5,4,3}

def accumulator(acc, item ):
  print(acc,item)
  return acc + item 

print(reduce(accumulator, my_list, 0 ))
print(reduce(accumulator, my_list, 10 ))

0 1
1 2
3 3
6
10 1
11 2
13 3
16

# Exercise

1. Capitalize all of the pet names and print the list
2. Zip the 2 lists into a list of tuples, but sort the numbers from lowest to highest.
3. Filter the scores that pass over 50%
4. Combine all of the numbers that are in a list on this file using reduce (my_numbers and scores). What is the total?

In [45]:
from functools import reduce

# ----- Exercise 1 -----
my_pets = ['sisi', 'bibi', 'titi', 'carla']
def cap(item):
  return item.capitalize()

def up(item):
  return item.upper()

print(list(map(cap, my_pets)))
print(list(map(up, my_pets)))

# ----- Exercise 2 -----
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]
my_numbers1 = my_numbers[::-1]

print(list(zip(my_strings, my_numbers1)))
print(list(zip(my_strings, sorted(my_numbers))))

# ----- Exercise 3 -----
scores = [73, 20, 65, 19, 76, 100, 88]

def over_50(item):
  return item > 50

print(list(filter(over_50, scores)))

# ----- Exercise 4 -----
def accumulator(acc, item):
  return acc + item 

print(reduce(accumulator, my_numbers, 0 )+ reduce(accumulator,scores,0))
print(reduce(accumulator, (my_numbers + scores)))

['Sisi', 'Bibi', 'Titi', 'Carla']
['SISI', 'BIBI', 'TITI', 'CARLA']
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
[73, 65, 76, 100, 88]
456
456